.backgroundGral{
    background:  #edf0f5 ;
}

.colorIconos{
    background: #686767;

}

.fuenteInputs{
font-family: Roboto;
font-size: 13px;
font-style: normal;
font-weight: 300;
line-height: 15px;
letter-spacing: 0px;
text-align: left;
color:#131313 63%;

}

.colorFondoCards{
    background: white;
}

.familiaFuenteGral{
font-family: roboto;
}

/* Barra de Navegación */
nav{
	height: 70px;
	width: 1440px;
	left: 0%;
	top: 0%;
	position: absolute;
	width: 1440px;
	height: 70px;

	background: #FFFFFF; 
}
.logo{
height: 42px;
width: 38px;
left: 280px;
top: 5px;
position: absolute;
width: 38px;
height: 42px;
background: url(../images/logo.svg);

}
.inputBuscar{
height: 28px;
width: 230px;
left: 30px;
top: 0px;
border-radius: 5px;
position: absolute;
outline:none;
border-style:none;
background: #F1EFEE;
}
input:focus{
	outline: none;
}

.cuadroBusqueda{
height: 30px;
width: 200px;
left: 330px;
top: 15px;
border-radius: 5px;
position: absolute;
background: #F1EFEE;
}

.iconoBusqueda{
height: 12.5px;
width: 11.5px;
left: 10px;
top: 9px;
background: url(../images/Vectorbuscar.svg);
position: absolute;


}

.iconoHome{
height: 24px;
width: 24px;
right: 665px;
top: 20px;
border-radius: 0px;
position: absolute;
background: url(../images/home.svg);

}

.iconoNoticias{
height: 24px;
width: 24px;
right: 565px;
top: 20px;
border-radius: 0px;
position: absolute;
background: url(../images/noticias.svg);
}

.iconoChat{
height: 26px;
width: 26px;
right: 465px;
top: 20px;
border-radius: 0px;
position: absolute;
background: url(../images/chat.svg);
}

.imagenPerfil{
height: 24px;
width: 24.03927993774414px;
right: 365px;
top: 20px;
position: absolute;
background: url(../images/imagenPerfil1.svg);

}

.NombrePerfil{
height: 20px;
width: 100px;
right: 260px;
top: 12px;
position: absolute;



}

.formatoPerfil{
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0px;
	text-align: left;
	color:#101010A1;

}