.backgroundGral {
	background: #edf0f5;
}

.colorIconos {
	background: #686767;
}

.fuenteInputs {
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 300;
	line-height: 15px;
	letter-spacing: 0px;
	text-align: left;
	color: #131313 63%;
}

.colorFondoCards {
	background: white;
}

.familiaFuenteGral {
	font-family: roboto;
}

/* Barra de Navegación */
nav {
	height: 70px;
	width: 1440px;
	left: 0%;
	top: 0%;
	position: absolute;
	width: 1440px;
	height: 70px;

	background: #ffffff;
}
.logo {
	height: 42px;
	width: 38px;
	left: 280px;
	top: 5px;
	position: absolute;
	width: 38px;
	height: 42px;
	background: url(../images/logo.svg);
}
.inputBuscar {
	height: 28px;
	width: 230px;
	left: 30px;
	top: 0px;
	border-radius: 5px;
	position: absolute;
	outline: none;
	border-style: none;
	background: #f1efee;
}
input:focus {
	outline: none;
}

.cuadroBusqueda {
	height: 30px;
	width: 200px;
	left: 330px;
	top: 15px;
	border-radius: 5px;
	position: absolute;
	background: #f1efee;
}

.iconoBusqueda {
	height: 12.5px;
	width: 11.5px;
	left: 10px;
	top: 9px;
	background: url(../images/Vectorbuscar.svg);
	position: absolute;
}

.iconoHome {
	height: 24px;
	width: 24px;
	right: 665px;
	top: 20px;
	border-radius: 0px;
	position: absolute;
	background: url(../images/home.svg);
}

.iconoNoticias {
	height: 24px;
	width: 24px;
	right: 565px;
	top: 20px;
	border-radius: 0px;
	position: absolute;
	background: url(../images/noticias.svg);
}

.iconoChat {
	height: 26px;
	width: 26px;
	right: 465px;
	top: 20px;
	border-radius: 0px;
	position: absolute;
	background: url(../images/chat.svg);
}

.imagenPerfil {
	height: 24px;
	width: 24.03927993774414px;
	right: 365px;
	top: 20px;
	position: absolute;
	background: url(../images/imagenPerfil1.svg);
}

.NombrePerfil {
	height: 20px;
	width: 100px;
	right: 260px;
	top: 12px;
	position: absolute;
}

.formatoPerfil {
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0px;
	text-align: left;
	color: #101010A1;
}

.desplegable {
	position: absolute;
	height: 90px;
	width: 150px;
	right: 215px;
	top: 50px;
	background-color: #ffffff;
	z-index: 3;
	border-radius: 5px;
}

.iconEditar {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 5px;
	top: 14px;
	background: url(../images/editar.svg);
	background-repeat: no-repeat;
}

.editar {
	position: absolute;
	height: 20px;
	width: 100px;
	left: 45px;
	top: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;

	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: #686767;
}

.iconSalir {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 5px;
	top: 54px;
	background: url(../images/salir.svg);
}

.salir {
	position: absolute;
	height: 20px;
	width: 100px;
	left: 45px;
	top: 40px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	display: flex;
	align-items: center;

	color: #686767;
}

.salir:hover {
	
	color: #d97930;
	transition: color .5s ease-in;  
  }

  
.editar:hover {
	color: #d97930;
	transition: color .5s ease-in;  
  
  }

.oculto {
	opacity: 0;
	z-index: -2;
  }
  
  .desocultar {
	opacity: 1;
	z-index: 2;
  }


.colorNaranja {
	color: #d97930;
}

.iconEditarNaranja {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 5px;
	top: 14px;
	background: url(../images/editarNaranja.svg);
	background-repeat: no-repeat;
}

.editarNaranja {
	position: absolute;
	height: 20px;
	width: 100px;
	left: 45px;
	top: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;

	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: rgba(217, 121, 48, 1);
}

.iconSalirNaranja {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 5px;
	top: 54px;
	background: url(../images/salirNaranja.svg);
}

.salirNaranja {
	position: absolute;
	height: 20px;
	width: 100px;
	left: 45px;
	top: 40px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: rgba(217, 121, 48, 1);
}

.cuadroDeChats{
	position: absolute;
width: 272px;
height: 446px;
left: 889px;
top: 70px;
background-color: white;
z-index: 1;

}

.chatPersonal{
	position: absolute;
	width: 272px;
	height: 290px;
	left: 889px;
	top: 70px;
	background-color: rgb(243, 243, 243);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.videollamada{
	position: absolute;
	width: 20px;
	height: 15px;
	left: 180px;
	top:30px;


}

.cerrar{
	position: absolute;
	width: 20px;
	height: 15px;
	left: 230px;
	top:27px;
}

.lineaChat{
	position: absolute;
	width: 272px;
	height: 0.1px;	
	top: 55px;
	background-color: #928e8e;
}

.fotoChat{
	position: absolute;
	width: 37px;
	height: 39px;
	left: 13px;
	top: 85px;
}

.fraseAmigo{
	position: absolute;
	width: 150px;
	height: 25px;
	left: 60px;
	top: 80px;
	background-color: #dddcdc;
	color: #151414;
	border-radius: 5px;

}

.fraseMia{
	position: absolute;
	width: 90px;
	height: 25px;
	right: 13px;
	top: 150px;
	background-color: rgba(244, 191, 110, 0.5);
	color: #151414;
	border-radius: 5px;
}

.inputMensajeChat{
	position: absolute;
	width: 260px;
	height: 25px;
	left: 5px;
	bottom: 10px;
	outline: none;
	border-style: none;
	background: #dddcdc;
	border-radius: 5px;

}

.iconEnviar{
	position: absolute;
	width: 20px;
	height: 20px;
	right: 15px;
	bottom: 15px;
	color: #d97930;
}

.cardAmigo{
	position: absolute;
width: 37px;
height: 39px;
left: 13px;
top: 11px;
}

.nombreAmigo{
	position: absolute;
	width: 200px;
	height: 16px;
	left: 50px;
	top: 0px;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	
	color: #252525;
	
	}

	.estado{
		position: absolute;
		width: 107px;
		height: 15px;
		left: 50px;
		top: 20px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 150%;
		
		color: #252525;
	}

	.amigo1{
		top: 40px;
	}
	.amigo2{
		top: 100px;
	}

	.amigo3{
		top: 160px;
	}
	.amigo4{
		top: 220px;
	}
	.amigo5{
		top: 280px;
	}
	.amigo6{
		top: 340px;
	}

	.cuadroBusquedaChat{
		left: 13px;
		height: 30px;
		width: 200px;
		border-radius: 5px;
		position: absolute;
		background: #f1efee;
	}

	.iconoBusquedaChat{		
		position: absolute;
		width: 18px;
		height: 20px;
		left: 10px;
		top: 8px;
		z-index: 1;
		background: url(../images/Vectorbuscar.svg);
		background-repeat: no-repeat;
	position: absolute;
	}

.inputBuscarChat{	
	width: 200px;
	height: 28px;
	position: absolute;
	left: 15.42%;
	right: 4.42%;
	top: 0.26%;
	bottom: 87.67%;
	background: #E3E1E0;
	border-radius: 5px;
	outline: none;
	border-style: none;
	background: #f1efee;
}