.backgroundGral {
	background: #edf0f5;
}

.colorIconos {
	background: #686767;
}

.fuenteInputs {
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 300;
	line-height: 15px;
	letter-spacing: 0px;
	text-align: left;
	color: #131313 63%;
}

.colorFondoCards {
	background: white;
}

.familiaFuenteGral {
	font-family: roboto;
}

/* Barra de Navegación */
nav {
	height: 70px;
	width: 1440px;
	left: 0%;
	top: 0%;
	position: absolute;
	width: 1440px;
	height: 70px;

	background: #ffffff;
}
.logo {
	height: 42px;
	width: 38px;
	left: 280px;
	top: 5px;
	position: absolute;
	width: 38px;
	height: 42px;
	background: url(../images/logo.svg);
}
.inputBuscar {
	height: 28px;
	width: 230px;
	left: 30px;
	top: 0px;
	border-radius: 5px;
	position: absolute;
	outline: none;
	border-style: none;
	background: #f1efee;
}
input:focus {
	outline: none;
}

.cuadroBusqueda {
	height: 30px;
	width: 200px;
	left: 330px;
	top: 15px;
	border-radius: 5px;
	position: absolute;
	background: #f1efee;
}

.iconoBusqueda {
	height: 12.5px;
	width: 11.5px;
	left: 10px;
	top: 8px;
	background: url(../images/Vectorbuscar.svg);
	position: absolute;
}

.iconoHome {
	height: 24px;
	width: 24px;
	right: 665px;
	top: 20px;
	border-radius: 0px;
	position: absolute;
	background: url(../images/home.svg);
}

.iconoNoticias {
	height: 24px;
	width: 24px;
	right: 565px;
	top: 20px;
	border-radius: 0px;
	position: absolute;
	background: url(../images/noticias.svg);
}

.iconoChat {
	height: 26px;
	width: 26px;
	right: 465px;
	top: 20px;
	border-radius: 0px;
	position: absolute;
	background: url(../images/chat.svg);
}

.imagenPerfil {
	height: 24px;
	width: 24.03927993774414px;
	right: 365px;
	top: 20px;
	position: absolute;
	background: url(../images/imagenPerfil1.svg);
}

.NombrePerfil {
	height: 20px;
	width: 100px;
	right: 260px;
	top: 12px;
	position: absolute;
}

.formatoPerfil {
	font-family: Roboto;
	font-size: 13px;
	font-style: normal;
	font-weight: 700;
	line-height: 15px;
	letter-spacing: 0px;
	text-align: left;
	color: #101010A1;
}

.desplegable {
	position: absolute;
	height: 90px;
	width: 150px;
	right: 215px;
	top: 50px;
	background-color: #ffffff;
	z-index: 3;
	border-radius: 5px;
}

.iconEditar {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 5px;
	top: 14px;
	background: url(../images/editar.svg);
	background-repeat: no-repeat;
}

.editar {
	position: absolute;
	height: 20px;
	width: 100px;
	left: 45px;
	top: 5px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;

	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: #686767;
}

.iconSalir {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 5px;
	top: 54px;
	background: url(../images/salir.svg);
}

.salir {
	position: absolute;
	height: 20px;
	width: 100px;
	left: 45px;
	top: 45px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	display: flex;
	align-items: center;

	color: #686767;
}

.salir:hover {
	
	color: #d97930;
	transition: color .5s ease-in;  
  }

  
.editar:hover {
	color: #d97930;
	transition: color .5s ease-in;  
  
  }

.oculto {
	opacity: 0;
	z-index: -2;
  }
  
  .desocultar {
	opacity: 1;
	z-index: 2;
  }


.colorNaranja {
	color: #d97930;
}

.iconEditarNaranja {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 5px;
	top: 14px;
	background: url(../images/editarNaranja.svg);
	background-repeat: no-repeat;
}

.editarNaranja {
	position: absolute;
	height: 20px;
	width: 100px;
	left: 45px;
	top: 0px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;

	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: rgba(217, 121, 48, 1);
}

.iconSalirNaranja {
	position: absolute;
	height: 25px;
	width: 25px;
	left: 5px;
	top: 54px;
	background: url(../images/salirNaranja.svg);
}

.salirNaranja {
	position: absolute;
	height: 20px;
	width: 100px;
	left: 45px;
	top: 40px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: rgba(217, 121, 48, 1);
}

.cuadroDeChats{
position: absolute;
width: 272px;
height: 446px;
left: 889px;
top: 70px;
background-color: rgb(255, 255, 255);


}

.cuadroDeBusquedas{
position: absolute;
width: 592px;
height: 446px;
left:280px;
top: 70px;
background-color:#e8e2cd;
z-index: 1;
border-radius: 5px;

}

.chatPersonal{
	position: absolute;
	width: 272px;
	height: 290px;
	left: 889px;
	top: 70px;
	background-color: rgb(240, 238, 218);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	
}

.videollamada{
	position: absolute;
	width: 20px;
	height: 15px;
	left: 180px;
	top:30px;
}

.cerrar{
	position: absolute;
	width: 20px;
	height: 15px;
	left: 230px;
	top:27px;
}

.pantallaVideo{
	position: absolute;
	width: 902px;
	height: 600px;
	left: 280px;
	top:200px;
	background-color: #252525;	
	border-radius: 10px;
}
.fondoBlancoVideo1{
	position: absolute;
	width: 110px;
	height: 110px;
	left: 30px;
	top: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 100%;
}

.imagenUsuario{
	position: absolute;
	width: 100px;
	height: 100px;
	left: 35px;
	top: 25px;
}

.nombreUsuarioVideo{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 160px;
	top: 35px;
	color: rgba(255, 255, 255, 0.63);;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 42px;
}

.fondoBlancoVideo2 {
	position: absolute;
	width: 220px;
	height: 220px;
	left: 350px;
	top: 150px;
	background-color: rgb(255, 255, 255);
	border-radius: 100%;
}
.imagenAmigo{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 360px;
	top: 160px;
}

.nombreAmigoVideo{
	position: absolute;
	width: 200px;
	height: 200px;
	left: 390px;
	top: 360px;
	color: #ffffff;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 36px;
	line-height: 42px;

}

.microfono{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 530px;
	top: 500px;
}

.camaraOff{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 425px;
	top: 500px;
}

.colgar{
	position: absolute;
	width: 40px;
	height: 40px;
	right: 320px;
	top: 500px;
}
.lineaChat{
	position: absolute;
	width: 272px;
	height: 0.1px;	
	top: 55px;
	background-color: #928e8e;
}

.fotoChat{
	position: absolute;
	width: 37px;
	height: 39px;
	left: 13px;
	top: 85px;
}

.fraseAmigo{
	position: absolute;
	width: 150px;
	height: 25px;
	left: 60px;
	top: 80px;
	background-color: #dddcdc;
	color: #151414;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;

}

.fraseMia{
	position: absolute;
	width: 90px;
	height: 25px;
	right: 13px;
	top: 150px;
	background-color: rgba(244, 191, 110, 0.5);
	color: #151414;
	border-radius: 5px;
	font-family: 'Roboto', sans-serif;
}

.inputMensajeChat{
	position: absolute;
	width: 260px;
	height: 25px;
	left: 5px;
	bottom: 10px;
	outline: none;
	border-style: none;
	background: #dddcdc;
	border-radius: 5px;

}

.iconEnviar{
	position: absolute;
	width: 20px;
	height: 20px;
	right: 15px;
	bottom: 15px;
	color: #d97930;
}
.busqueda{
	position: absolute;
	width: 50px;
	height: 14px;
	left: 10px;
	top: 15px;
	
}
.busque1{
	left: 10px;
}

.busque2{
	left: 130px;
}

.busque3{	
	left: 250px;
}

.busque4{	
	left: 370px;
}

.busque5{
	left: 520px;
}

.cardBuscada{
	position: absolute;
	width: 592px;
	height: 40px;
	top: 10px;
	background-color: #e6e6e6;
}

.fotoPerfilBuscado{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 0px;

}

.hoverBus :hover{
	background-color: #c2c2c2;
	
}

.nombreBuscado{
	position: absolute;
	width: 80px;
	height: 12px;	
	left: 80px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;	
	color: #252525;
}

.apellidoBuscado{
	position: absolute;
	width: 80px;
	height: 12px;	
	left: 180px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;	
	color: #252525;
}

.profesionBuscado{
	position: absolute;
	width: 100px;
	height: 12px;
	left: 280px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;	
	color: #252525;
}

.localidadBuscado{
	position: absolute;
	width: 80px;
	height: 12px;
	left: 450px;

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;	
	color: #252525;
}
.buscado1{
	top: 50px;	
}

.buscado2{
	top: 100px;
	border-bottom: #252525;
}

.buscado3{
	top: 150px;
	border-bottom: #252525;
}

.labelBuscar{
	
	width: 50px;
	height: 14px;
	top: 5px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height: 16px;	
	color: #5f5f5f;
	
}


.inputBusquedaAvanzada{
	width: 70px;
	height: 15px;
	top: 3px;
	position: absolute;
	background: #ffffff;
	border-radius: 3px;
	outline: none;
	border-style: none;
	margin-left: 3px;
	font-size: 10px;
}



.botonBuscarAvanzado{
	position: absolute;
	width: 50px;
	height: 17px;
	top: 3px;
	right: -10px;
	background-color: rgba(217, 121, 48, 1);	
	border-radius: 15px;
	font-size: 10px;
	text-align: center;
	color: #ffffff;
}

.lineaBusquedaAvanzada{
	width: 590px;
	height: 0.4px;
	position: absolute;
	top: 45px;
	background-color:#5f5f5f;
}

.cardAmigo{
	position: absolute;
width: 37px;
height: 39px;
left: 13px;
top: 11px;
}

.nombreAmigo{
	position: absolute;
	width: 200px;
	height: 16px;
	left: 50px;
	top: 0px;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;	
	color: #252525;
	
	}

	.estado{
		position: absolute;
		width: 107px;
		height: 15px;
		left: 50px;
		top: 20px;
		font-family: Roboto;
		font-style: normal;
		font-weight: normal;
		font-size: 10px;
		line-height: 150%;
		
		color: #252525;
	}

	.amigo1{
		top: 40px;
	}
	.amigo2{
		top: 100px;
	}

	.amigo3{
		top: 160px;
	}
	.amigo4{
		top: 220px;
	}
	.amigo5{
		top: 280px;
	}
	.amigo6{
		top: 340px;
	}

	.cuadroBusquedaChat{
		left: 13px;
		height: 30px;
		width: 200px;
		border-radius: 5px;
		position: absolute;
		background: #f1efee;
	}

	.iconoBusquedaChat{		
		position: absolute;
		width: 18px;
		height: 20px;
		left: 10px;
		top: 8px;
		z-index: 1;
		background: url(../images/Vectorbuscar.svg);
		background-repeat: no-repeat;
	position: absolute;
	}

.inputBuscarChat{	
	width: 200px;
	height: 28px;
	position: absolute;
	left: 15.42%;
	right: 4.42%;
	top: 0.26%;
	bottom: 87.67%;
	background: #E3E1E0;
	border-radius: 5px;
	outline: none;
	border-style: none;
	background: #f1efee;
}

.cerrarChats{
	width: 269px;
	height: 28px;
	position: absolute;
	left: 0%;
	right: 4.42%;
	top: 90%;
	bottom: 87.67%;
	background: #ebebeb;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;;
	outline: none;
	border-style: none;
	
	
}


.salirChats{
	position: absolute;	
	right: 4.42%;
	top: 92.3%;
	bottom: 87.67%;
}

.containerPerfilFiltro{
	position: absolute;
	width: 1440px;
	height: 1024px;
	background: #4b4b4b;
	opacity: 0.6;
	top:0px;
		
}

.formularioEditar{
	position: absolute;
	width: 452px;
	height: 812px;
	top: 106px;
	left: 494px;	
	background-color: white;
	z-index: 1;
}
/* footer*/
footer{
position: absolute;
width: 1440px;
height: 60px;
left: 8px;
top: 972px;
bottom: 0px;
background-color: white;
}

.logoyDesarroll{
position: absolute;
left: 39.58%;
right: 57.78%;
top: 20%;
bottom: 20%;
height: 40px;
width: 300px;
}
.logoFooter{
height: 38px;
width: 34px;
position: absolute;
left: 0%;
right: 57.78%;
top: 10%;
bottom: 10%;
}
.textoDesarrolladores{
height: 15px;
width: 243px;
position: absolute;
left: 18.54%;
right: 39.58%;
top: 41%;
bottom: 41%;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #252525;




}
