
.containerHome {

	position: absolute;
	width: 1440px;
	height: 954px;
	/* background: #f5f2ed; */
	top:10%;
}

.columnaSugeridos {
	height: 607px;
	width: 200px;
	left: 280px;
	top: 0.5%;
	border-radius: 5px;
	/* background: white; */
	position: absolute;
	z-index: 0;
}
.fotoPortada{
	height: 82px;
	width: 200px;
	left: 0px;
	top: 0px;
	position: absolute;
	border-radius: 5px;
	
}

.datosPerfil {
	height: 193px;
	width: 200px;
	left: 0px;
	top: 0px;
	border-radius: 5px;
	background-color:white;
	position: absolute;

}
.blancoFotoPerfil{
	position: absolute;
    width: 64px;
    height: 64px;
    border: 6px solid #FFFFFF;
	left:60px;
	top: 40px;
	border-radius: 250px;

}
.fotoPerfil{
height: 70px;
width: 70px;
left: 65px;
top:44px;
border-radius: 0px;
position: absolute;

}

.textosPerfil{
position: absolute;
text-align: center;
width: 200px;
height: 100px;
left: 0px;
top: 110px;




}
.nombre{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #252525;
}
.titulo{
	font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
color: #252525;
line-height : 5px;

}



.sugerenciasContactos {
	height: 370px;
	width: 200px;
	left: 0px;
	top: 199px;
	border-radius: 5px;
	background-color:white;
	position: absolute;


}
.tituloSugerencias{
height: 14px;
width: 200px;
left: 0px;
top: 280px;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 600;
line-height: 14px;
letter-spacing: 0em;
text-align: center;
color: #252525;

}
.contactoSugerido1{
top: 40px;
}

.contactoSugerido2{

top: 100px;


}
.contactoSugerido3{
	top: 160px;
}
.contactoSugerido4{
	top:220px;
}
.contactoSugerido5{
	top:280px;
}
.columnaMuro {
	height: 875px;
	width: 371px;
	left: 500px;
	top: 0.5%;
	border-radius: 5px;
	/* background: white; */
	position: absolute;
	z-index: 0;

}

.nuevaPublicacion {
	position: absolute;
	width: 371px;
	height: 120px;
	left: 0px;
	top: 0px;
	background-color: white;
	border-radius: 5px;

}
.tituloPublicacion{
	
position: absolute;
width: 371px;
height: 30px;
left: 0px;
top: 0px;
background: #D97930;
border-radius: 5px;

}
.textoTituloPublicacion{
position: absolute;
width: 300px;
height: 30px;
left: 1em;
top: 5px;
font-style: bold;
font-weight: bold;
font-size: 16px;
font-family: roboto;
color: #FFFFFF;
margin: 0%;

}
.cuerpoPublicacion{
	position: absolute;
	width: 371px;
	height: 90px;
	left: 0px;
	top: 30px;
	background-color: white;
	border-radius: 5px;
}
.foto{
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1em;
	top: 15px;
}
.inputNuevaPublicacion{
	position: absolute;
	width: 295px;
	height: 30px;
	left: 50px;
	top: 1em;
	border-radius: 5px;
	outline: none;
	border-style: none;
	background: #f1efee;
}
/* Barra herramientas nueva publicacion */
.barraHerramientas{
	position: absolute;
	width: 371px;
	height: 50px;
	left: 0px;
	top: 50px;
	/* background-color:teal; */
	border-radius: 5px;
}
.addFoto{
	position: absolute;
width: 20px;
height: 20px;
left: 1em;
top: 10px;


}
.textoaddFoto{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 27.07px;
height: 16.55px;
left:3em;
top:0px;
}
.addVideo{
	position: absolute;
width: 21px;
height: 21px;
left: 155px;
top: 9px;
}
.textoaddVideo{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	
	position: absolute;
	width: 34.09px;
	height: 15.52px;
	left:180px;
	top: 0px;
	
	
}

.publicar{
position: absolute;
width: 19.05px;
height: 19.66px;
right: 65px;
top: 10px;
}
.textoEnviar{
	display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 49.13px;
height: 17.59px;
right: 1em;
top: 0px;


}
/*-----------------------*/
.cardPublicacion{
	position: absolute;
	width: 371px;
	height: 208px;
	left: 0px;
	background-color: white;
	border-radius: 5px;
}
.publicacion1 {
	top: 126px;
}
/* estilo card contacto publicaciones */

.cardContactoPubli{
	position: absolute;
    left: 1em;
	top: 20px;
    width:135px;
	height: 30px;
	
}

.fotoContacto{
	position: absolute;
	width: 30px;
	height: 30px;
	left: 0px;
	top: 0px;

}
.nombrePubli{
	position: absolute;
	width: 200px;
	height: 16px;
	left: 35px;
	bottom: -2px;
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: #252525;
}
.textoDetalle{
position: absolute;
left: 35px;
top: 6px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 150%;
color: #252525;
}

.textoMensaje{
position: absolute;
left: 4.70%;
right: 6.39%;

bottom: 22.6%;
top: 26.25%;
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 150%;
color: #000000;
}


/*-----------*/

.publicacion2 {
	position: absolute;
	height: 400px;
	width: 371px;
	left: 0px;
	top: 340px;
	border-radius: 5px;
	background-color: white;

}

.publicacion3 {
	position: absolute;
	width: 371px;
	height: 208px;
	left: 0px;
	top: 746px;
	background-color: white;
	border-radius: 5px;
}
.galeria{
position: absolute;
left: 4.70%;
right: 6.39%;
top: 17.25%;
bottom: 22.6%;
height: 275px;
width: 333px;

border-radius: 5px;



}


.columnaRecomyPubli {
	height: 549.2000122070312px;
	width: 270px;
	right: 280px;
	top: 0.5%;
	border-radius: 5px;
	/* background: white; */
	position: absolute;
	z-index: 0;
}


.sugerenciasGrupos {
	position: absolute;
	width: 270px;
	height: 287px;
	left: 0px;
	top: 0px;
	background-color: white;
	border-radius: 5px;
	z-index:-1;
	

}
.tituloGruposRecomendados{
	position: absolute;
width: 270px;
height: 14px;
left: 0px;
top: 1em;

font-family: Roboto;
font-style:normal;
font-weight: bold;
font-size: 12px;
line-height: 14px;
text-align: center;
color: #252525;
}

.publicidad {
	position: absolute;
	width: 270px;
	height: 238px;
	left: 0px;
	top: 292px;
	border-radius: 5px;
}
.contenedorPublicidadAnimada{
	position: absolute;
	width: 270px;
	height: 240px;
	left: 0px;
	top: 537.2px;
	border-radius: 5px;
	background-color: #ffffff;
}

.publicidadAnimada{
	position: absolute;
	width: 225px;
	height: 225px;
	left: 8%;
	top: 0%;
	border-radius: 5px;
	background-color: #ffffff;
	
	animation: banner 15s steps(45)  infinite   ;
}


@keyframes banner { 
	0%{
		background: url(../images/publicidad1.jfif) repeat-x;
	}

	

	50%{
		background: url(../images/publicidad5.jfif) repeat-x;
	}

	75%{
		background: url(../images/publicidad6.jfif) repeat-x;
	}

	

	100% {		
		background: url(../images/publicidad7.jpg) repeat-x;
	  
	}
}
/* estilo de cards contactos*/

.cardContacto{
position: absolute;
width: 180px;
height: 60px;
left: 1em;
background-color: white;
}
.fotoPerfilContacto{
	position: absolute;
	width: 40px;
	height: 40px;
	left: 0px;
	top: 8px;
	border-radius: 26px;

	}
	.nombreContacto{
	position: absolute;
	width: 200px;
	height: 16px;
	left: 50px;
	top: 0px;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 16px;
	
	color: #252525;
	
	}
	.profesion{
	position: absolute;
	width: 107px;
	height: 15px;
	left: 50px;
	top: 20px;
	
	font-family: Roboto;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 150%;
	
	color: #252525;
	}

	.textosReacciones{
		font-family: Roboto;
		font-style: normal;
		font-weight: 500;
		font-size: 13px;
		line-height: 17px;
		color: #686767;
		}

/* Barra reacciones */

.barraReacciones{
	position: absolute;
	width: 371px;
	height: 45px;
	left: 0px;
	bottom: 0px;
	border-radius: 5px;
		}
		
		.meGusta{
			position: absolute;
		width: 20px;
		height: 20px;
		left: 1em;
		top: 10px;
		
		
		}
		.textoMeGusta{
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0px;
		
		position: absolute;
		width: 27.07px;
		height: 16.55px;
		left:3em;
		top:0px;
		}
		.comentarios{
			position: absolute;
		width: 20px;
		height: 20px;
		left: 155px;
		top: 9px;
		}
		.textoComentario{
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			padding: 0px;
			
			position: absolute;
			width: 34.09px;
			height: 15.52px;
			left:180px;
			top: 0px;
			
			
		}
		
		.compartir{
		position: absolute;
		width: 19.05px;
		height: 19.66px;
		right: 80px;
		top: 10px;
		}
		.textoCompartir{
			display: flex;
		flex-direction: row;
		align-items: flex-start;
		padding: 0px;
		
		position: absolute;
		width: 49.13px;
		height: 17.59px;
		right: 2em;
		top: 0px;
		
		
		}
   
/*---- Estilo de Card Grupo---*/

.cardGrupo{
position: absolute;
width: 250px;
height: 52px;
left: 1em;

}
.recomendado1{
top: 50px;
}
.recomendado2{
	top:130px;
}
.recomendado3{
	top:210px;
}

.fotoGrupo{
position: absolute;
width: 80px;
height: 52px;
left: 0px;
top: 0px;
border-radius: 5px;
}

.nombreGrupo{
position: absolute;
width: 150px;
height: 18px;
left: 90px;
top: 0px;

font-family: Roboto;
font-style: normal;
font-weight:normal;
font-size: 14px;
line-height: 125%;

color: #252525;
}
.detallesGrupo{
position: absolute;
width: 76px;
height: 15px;
left: 90px;
top: 20px;

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
line-height: 150%;
color: #252525;


}