.containerHome {

	position: relative;
	width: 1440px;
	height: 1024px;
	background: #edf0f5;
}

.columnaSugeridos {
	height: 607px;
	width: 200px;
	left: 280px;
	top: 70px;
	border-radius: 5px;
	/* background: white; */
	position: absolute;
}
.fotoPortada{
	height: 82px;
	width: 200px;
	left: 0px;
	top: 0px;
	position: absolute;
	border-radius: 5px;
	
}

.datosPerfil {
	height: 193px;
	width: 200px;
	left: 0px;
	top: 0px;
	border-radius: 5px;
	background-color:white;
	position: absolute;

}
.blancoFotoPerfil{
	position: absolute;
    width: 64px;
    height: 64px;
    border: 6px solid #FFFFFF;
	left:60px;
	top: 40px;
	border-radius: 250px;

}
.fotoPerfil{
height: 70px;
width: 70px;
left: 65px;
top:44px;
border-radius: 0px;
position: absolute;

}

.textosPerfil{
position: absolute;
text-align: center;
width: 200px;
height: 100px;
left: 0px;
top: 110px;




}
.nombre{
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: #252525;
}
.titulo{
	font-family: Roboto;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: 15px;
letter-spacing: 0em;
text-align: center;
color: #252525;
line-height : 5px;

}



.sugerenciasContactos {
	height: 407px;
	width: 200px;
	left: 0px;
	top: 199px;
	border-radius: 5px;
	background-color:white;
	position: absolute;


}
.tituloSugerencias{
height: 14px;
width: 200px;
left: 0px;
top: 280px;
font-family: Roboto;
font-size: 12px;
font-style: normal;
font-weight: 500;
line-height: 14px;
letter-spacing: 0em;
text-align: center;
color: #252525;

}
.contactoSugerido1{
top: 40px;
}

.contactoSugerido2{

top: 100px;


}
.contactoSugerido3{
	top: 160px;
}
.contactoSugerido4{
	top:220px;
}
.contactoSugerido5{
	top:280px;
}
.columnaMuro {
	height: 875px;
	width: 371px;
	left: 500px;
	top: 70px;
	border-radius: 5px;
	/* background: white; */
	position: absolute;

}

.nuevaPublicacion {
	position: absolute;
	width: 371px;
	height: 120px;
	left: 0px;
	top: 0px;
	background-color: white;
	border-radius: 5px;

}
.tituloPublicacion{
	
position: absolute;
width: 371px;
height: 30px;
left: 0px;
top: 0px;
background: #D97930;
border-radius: 5px;

}
.textoTituloPublicacion{
position: absolute;
width: 300px;
height: 30px;
left: 1em;
top: 5px;
font-style: bold;
font-weight: bold;
font-size: 16px;
font-family: roboto;
color: #FFFFFF;
margin: 0%;

}
.cuerpoPublicacion{
	position: absolute;
	width: 371px;
	height: 90px;
	left: 0px;
	top: 30px;
	background-color: white;
	border-radius: 5px;
}
.foto{
	position: absolute;
	width: 30px;
	height: 30px;
	left: 1em;
	top: 5px;
}
.inputNuevaPublicacion{
	position: absolute;
	width: 300px;
	height: 20px;
	left: 50px;
	top: 8px;
	border-radius: 5px;
}
.barraHerramientas{
	position: absolute;
	width: 371px;
	height: 50px;
	left: 0px;
	top: 40px;
	/* background-color:teal; */
	border-radius: 5px;
}
.addFoto{
	position: absolute;
width: 20px;
height: 20px;
left: 1em;
top: 10px;


}
.textoaddFoto{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 27.07px;
height: 16.55px;
left:3em;
top:0px;
}
.addVideo{
	position: absolute;
width: 21px;
height: 21px;
left: 8em;
top: 9px;
}
.textoaddVideo{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	
	position: absolute;
	width: 34.09px;
	height: 15.52px;
	left:12em;
	top: 0px;
	
	
}

.publicar{
	position: absolute;
width: 19.05px;
height: 19.66px;
left: 15em;
top: 10px;
}
.textoEnviar{
	display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 49.13px;
height: 17.59px;
left: 20em;
top: 0px;


}

.publicacion1 {
	position: absolute;
	width: 371px;
	height: 208px;
	left: 0px;
	top: 126px;
	background-color: darkblue;
	border-radius: 5px;


}

.publicacion2 {
	position: absolute;
	height: 400px;
	width: 371px;
	left: 0px;
	top: 340px;
	border-radius: 5px;
	background-color: darkmagenta;

}

.publicacion3 {
	position: absolute;
	width: 371px;
	height: 208px;
	left: 0px;
	top: 746px;
	background-color: darkseagreen;
	border-radius: 5px;
}


.columnaRecomyPubli {
	height: 549.2000122070312px;
	width: 270px;
	right: 280px;
	top: 70px;
	border-radius: 5px;
	/* background: white; */
	position: absolute;
}


.sugerenciasGrupos {
	position: absolute;
	width: 270px;
	height: 287px;
	left: 0px;
	top: 0px;
	background-color: chartreuse;
	border-radius: 5px;

}

.publicidad {
	position: absolute;
	width: 270px;
	height: 255.2px;
	left: 0px;
	top: 284px;
	border-radius: 5px;
}
