.containerInicioSesion {
	/* inicio sesion */
	position: relative;
	width: 1440px;
	height: 1024px;
	background: #f5f2ed;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------*/

.contenedorLogo {
 height: 100vmin; 
  overflow: hidden;
  position: absolute;
  width: 100vmin;
  z-index:2; 
  /* background-color: white; 
  opacity: 0.8; */
}

.fondoTransparente{
  height: 100%; 
  overflow: hidden;
  position: absolute;
  width: 100%;
  opacity:0.7;
  z-index:1; 
   background-color: white; 
  opacity: 0.7; 
}

.logoCompleto{
	display: block;
	height: 110vmin;
	left: -5vmin;
	position: absolute;
	top: -5 vmin;
	width: 110vmin;
	
}

.logoRed {
	opacity: 1;
  }
  .logoBlue {
	opacity: .7;
  }

.contenedorPatita {
	position: absolute;
	left: 35%;
	right: 71.42%;
	top: 20%;
	bottom: 71.83%;
	
}

.contenedorNetvet {
	position: absolute;
	left: 45%;
	right: 58%;
	top: 22.49%;
	bottom: 72.55%;
	
}

.circuloGradiente {
	position: absolute;
	z-index:0;
	top: 0; right: 0; bottom: 0px; left: 0;
	background: radial-gradient(circle at var(--x, 50%) var(--y, 30%), hsl(31, 80%, 80%) 20%, #f5f2ed 30%);
	
  }

/*---------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------*/

.textoInicio {
	/* NetVet tu red social pensada para la sanidad animal */

	position: absolute;
	width: 395px;
	height: 78px;
	left: 29%;
	top: 28%;

	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 39px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #252525;
}

.contenedorFormLogin {
	height: 550px;
	width: 400px;
	left: 759px;
	top: 30px;
	border-radius: 0px;
	display: flex;
	z-index:20;
	
	/* Formulario Inicio de sesión */

	position: absolute;
	width: 400px;
	height: 550px;
	left: 759px;
	top: 30px;
	
}

.textoInicioSesion {
	/*Propiedades*/
	height: 33px;
	width: 154px;
		

	/*Tipografia*/
	
	letter-spacing: 0px;
	text-align: left;

	/* Iniciar sesión */
	position: absolute;
	left: 30.75%;
	right: 30.75%;
	top: 1em;
	bottom: 82.36%;
	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 32px;
	/* identical to box height */
	display: flex;
	align-items: center;
	color: #000000;
}

.rectangulo203 {
	height: 550px;
	width: 400px;
	border-radius: 5px;

	/* rectangle 203 */
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: #ffffff;

}

.textoInput {
	/*Propiedades*/
	height: 16.656089782714844px;
	width: 300px;
	left: 50px;
	top: 128px;
	border-radius: 15px;

	/* Texto input */
	/* Auto Layout */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	position: absolute;
	left: 2.5%;
	right: 12.5%;
	top: 23.27%;
	bottom: 73.7%;
	border-radius: 15px;
}

.textoNombreUsuario {
	/*Propiedades*/
	height: 18px;
	width: 253px;
	
	/* TextoNombre */
	position: absolute;
	left: 9%;
	right: 15.67%;
	top: -3px;
	bottom: -8.07%;
	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	color: #a0a0a0;
	/* Inside Auto Layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 10px;
}

.inicioSesion {
	/*Propiedades*/
	height: 40.41344451904297px;
	width: 300px;
	left: 50px;
	top: 146.18603515625px;
	border-radius: 15px;

	/* inicio sesion */
	position: absolute;
	left: 12.5%;
	right: 12.5%;
	top: 26.58%;
	bottom: 66.07%;
	opacity: 0.64;
	border-radius: 15px;
}

.rectangulo6 {
	/*Propiedades*/
	height: 40.41344451904297px;
	width: 300px;
	

	/* Rectangle 6 */
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: #e3e1e0;
	border-style: none;
	border-radius: 5px;
	border-color: #ffffff;
}

.inicioSesion2 {
	/*Propiedades*/
	height: 40.41343688964844px;
	width: 300px;
	left: 50px;
	top: 235.81591796875px;
	border-radius: 5px;

	/* inicioSesion2 */
	position: absolute;
	left: 12.5%;
	right: 12.5%;
	top: 42.88%;
	bottom: 49.78%;
	opacity: 0.64;
	border-radius: 5px;
}

.rectangulo6_bis {
	/*Propiedades*/
	height: 40.41343688964844px;
	width: 300px;
	left: 0px;
	top: 0px;
	border-radius: 5px;

	/* Rectangle6_bis */
	position: absolute;

	background: #e3e1e0;
	border-style: none;
	border-radius: 5px;
	border-color: #ffffff;
}

.textoInput2 {
	/*Propiedades*/
	height: 18px;
	width: 92.34420013427734px;
	left: 50px;
	top: 218px;
	border-radius: 15px;

	/* Texto input2 */
	/* Auto Layout */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 0px;
	position: absolute;
	left: 10%;
	right: 64.41%;
	top: 39.64%;
	bottom: 57.09%;
	border-radius: 15px;
}

.textoContraseña {
	/*Propiedades*/
	height: 18px;
	width: 350px;
	left: 0px;
	top: -3px;
	text-align: left;
	/* TextoContraseña */
	position: absolute;
	left: 0%;
	
	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	text-align: left;
	color: #a0a0a0;
	/* Inside Auto Layout */
	flex: none;
	order: 0;
	flex-grow: 0;
	margin: 0px 10px;
}

.btnIniciarSesion {
	/*Propiedades*/
	height: 40px;
	width: 300px;
	left: 50px;
	top: 307px;
	border-radius: 0px;

	/* btnIniciarSesion */
	position: absolute;
	left: 12.5%;
	right: 12.5%;
	top: 58.82%;
	bottom: 36.91%;
}

.botonIniciar {
	/*Propiedades*/
	height: 40px;
	width: 304px;
	left: 0px;
	top: 0px;
	border-radius: 0px;

	/* botonIniciar */
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
}
.botonIniciaSesion {
	/*Propiedades*/
	height: 40px;
	width: 306px;
	left: 50px;
	top: 320px;
	position: absolute;
	background: #4a4afa;
	border-radius: 15px;
}

.botonIniciaSesion:hover{
	background-color:#4a4afa;
	opacity: 0.7;
	color: white;
	transition: background-color .5s ease-in;
	transition: color .5s ease-in;
}

.textoboton {
	/*Propiedades*/
	height: 28px;
	width: 94.19998168945312px;
	left: 103.02197265625px;
	top: 5.833251953125px;
	border-radius: 0px;

	/* Textoboton */
	position: absolute;
	left: 34.34%;
	right: 34.26%;
	top: 6.58%;
	bottom: 15.42%;
}

.textoBtn {
	width: 180px;
	/*Tipògrafia*/
	/* font-family: Roboto; */
	font-size: 15px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;
	letter-spacing: 0em;
	text-align: center;

	/* textoBtn */
	position: absolute;
	left: -14.86%;
	right: -14.65%;
	top: 6%;
	bottom: 17.86%;
	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	/* identical to box height */
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}

.olvidasteContraseña {
	/*Propiedades*/
	height: 6.711273193359375px;
	width: 189.91098022460938px;
	left: 105px;
	top: 378px;
	border-radius: 15px;

	/* ¿ Olvidaste la contraseña ? */
	position: absolute;
	left: 26.25%;
	right: 26.27%;
	top: 68.73%;
	bottom: 30.05%;
	border-radius: 15px;
}

.textoOlvidasteContraseña {
	/*Propiedades*/
	height: 16px;
	width: 147px;
	left: 33px;
	top: -5px;

	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 16px;
	letter-spacing: 0em;
	text-align: center;

	/* ¿ Olvidaste la contraseña ? */
	position: absolute;
	
	display: flex;
	align-items: center;
	text-align: center;
	color: #5d5af3;
}

.lineaHorizontal {
	/*Propiedades*/
	height: 0px;
	width: 300px;
	left: 50px;
	top: 416px;
	border-radius: 15px;

	/* lineaHorizontal */
	position: absolute;
	left: 12.5%;
	right: 12.5%;
	top: 75.64%;
	bottom: 24.36%;
	border-radius: 15px;
}

.linea1 {
	/*Propiedades*/
	height: 0px;
	width: 300px;
	left: 0px;
	top: 0px;

	/* Linea1 */
	position: absolute;
	left: 0%;
	right: 0%;
	border: 0.5px solid #a0a0a0;
	background-color: #a0a0a0;
	border-radius: 15px;
}



.botonCrear {
	/*Propiedades*/
	height: 40px;
	width: 306px;
	left: 50px;
	top: 455px;
	border-radius: 15px;
	/* botonCrear */
	position: absolute;
	background: #d97931;
	
}

.botonCrear:hover {
	background-color: #d97930;
	opacity: 0.7;
	color: white;
	transition: background-color .5s ease-in;
	transition: color .5s ease-in;
  
  }

.textoBotonCrearCuenta {
	position: absolute;
	left: 19.51%;
	right: 19.24%;
	top: 9.17%;
	bottom: 0.83%;
}

.textoCrearCuenta {
	/*Propiedades*/
	height: 18px;
	width: 180px;
	left: 6px;
	top: 0px;
	/*Tipografia*/
	 font-family: Roboto; 
	font-size: 15px;
	font-style: normal;
	font-weight: 600;
	line-height: 0px;
	position: absolute;
	text-align: center;
	text-transform: uppercase;
	color: #fbfbfb;
}

/*--------------------------------------------------------------------------------*/
  
@media screen and (max-width: 360px) {
	.containerInicioSesion{
		width: 100%;
		height:100vh;
		flex-direction: column;
		left: 0%;
		background-color: #ffffff;
		
	
	}
	.contenedorPatita{
		left: 50px;
		top:15%;
	}
	.contenedorNetvet{
		left:140px;
	}
	

	.rectangulo203 {
	height: 85vh;
	width: 100vw;
	

    }
	.capa1{
		display:none;
	}
	.capa2{
		display:none;
	}
	.capa3{
		display:none;
	}

	.contenedorFormLogin {
		z-index:2;		
		left: -25px;
		top: 13%;
		display: flex;		
		position: absolute;		
		width: 100%;
		
	}
	
	/* .circuloGradiente{		
		top: 0%;
		align-items:center;
		background: radial-gradient(circle at var(--x, 50%) var(--y, 30%), hsl(0, 0%, 100%) 20%, #ffffff 30%);
	} */

	.contenedorLogo{	
		height:40vh;
		z-index:20;	
	}

	.textoInicio{
		display: none;
	}



.logoCompleto{	
	height: 30vh;
	width: 100vw;	
}

.logoRed {
	opacity: 1;
  }
  .logoBlue {
	opacity: .7;
  }


  }
  /*------------------------------*/

  /*Mensajes error*/
.mensajeInputOculto {
    display: none;
}

.mensajeInput {
	position:absolute;
	top:45px;
    margin: 5px 5px 0px 5px;
    display: flex;
    color: #EC3C3C;
    font-size: 10px;
}

input.error {
	border: #EC3C3C solid 1px;
}

 .capa1{
	
		position: absolute;
		top: 0;
		z-index: 0;
		height: 100%;
		width: 100%;
		animation: movimientoFondo 30s linear infinite;
		background: url(../images/capa1Completo.png) repeat-X;
	  }
	  
	   
	  @keyframes movimientoFondo {
		100% {
		  background-position-x: -2550px;
		}
	  }
	  .capa2{
	
		position: absolute;
		top: 0;
		z-index: 0;
		height: 100%;
		width: 100%;
		animation: movimientoFondo2 35s linear infinite;
		background: url(../images/capa2Completo.png) repeat-X;
	  }
	  @keyframes movimientoFondo2 {
		100% {
		  background-position-x: -2550px;
		}
	  }
	  
	  .capa3{
	
		position: absolute;
		top: 0;
		z-index: 0;
		height: 100%;
		width: 100%;
		animation: movimientoFondo3 40s linear infinite;
		background: url(../images/capa3Completo.png) repeat-X;
	  }
	  @keyframes movimientoFondo3 {
		100% {
		  background-position-x: -2550px;
		}
	  }
	   
	
	  .loader2 {
		position: absolute;
		border: 16px solid #b9b3a9;
		border-radius: 50%;
		border-top: 16px solid #db9334;
		width: 50px;
		height: 50px;
		left: 47%;
		top: 35%;	
		z-index: 1;
		-webkit-animation: spin 2s linear infinite; /* Safari */
		animation: spin 2s linear infinite;
	  }
	  
	  /* Safari */
	  @-webkit-keyframes spin {
		0% { -webkit-transform: rotate(0deg); }
		100% { -webkit-transform: rotate(360deg); }
	  }
	  
	  @keyframes spin {
		0% { transform: rotate(0deg); }
		100% { transform: rotate(360deg); }
	  }
	  .oculto {
		opacity: 0;
		z-index: -2;
	  }

 
  
  

