.containerPerfil {
	position: absolute;
	width: 100%;
	height: 100%;
	/* width: 1440px;
	height: 954px; */
	/* background: #f5f2ed; */
	top:76px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



.datosPrincipales {
	position: absolute;
	width: 880px;
	height: 360px;
	left: 280px;
	top: 0.5%;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	
}



.imagenFondo {
	position: absolute;
	width: 880px;
	height: 180px;
	/* left: calc(50% - 880px/2); */
	left:0px;
	top: 0px;
	border-radius: 5px;
	background-image: url(../images/imagenCampo.svg);
	background-size: cover;
}

.imagenPerfil1 {
	position: absolute;
	width: 193.44px;
	height: 191.18px;
	left: 100px;
	top: 90px;
	/* background: url(imagenperfil.png); */
}

.deshabilitado{
	opacity: 0.5;
}

.fondoBlancoImg {
	position: absolute;
	width: 199.43px;
	height: 200px;
	left: calc(50% - 199.43px/2 - 248.28px);
	top: 85px;
	background-color: rgb(255, 255, 255);
	border-radius: 100%;
}

.nombrePerfil {
	position: absolute;
	width: 250px;
	height: 30px;
	left: calc(50% - 170px/2 - 42px);
	top: 160px;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 33px;
	/* identical to box height */
	color: #181818;
}

.especialidad {
	position: absolute;
	width: 500px;
	height: 20px;
	left: calc(50% - 500px/2 + 123px);
	top: 205px;
	font-family: Roboto; 
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 150%;
	/* identical to box height, or 30px */
	color: #181818;
}

.cantContactos {
	position: absolute;
	width: 116px;
	height: 20px;
	left: calc(50% - 116px/2 - 69px);
	top: 250px;
	font-family: Roboto; 
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	text-transform: uppercase;
	color: #686767;
}

.botonEditar {
	position: absolute;
	width: 180px;
	height: 40px;
	left: 660px;
	top: 280px;
	background: #d97930;
	border-radius: 25px;
	border: none;
	z-index: 1;
	
}

.botonEditar:hover{
	background-color: #d97930;
	opacity: 0.7;
	color: white;
	transition: background-color .5s ease-in;
	transition: color .5s ease-in;
}

.textoEditar {
	position: absolute;
	width: 30px;
	height: 18px;
	left: 55px;
	top: -10px;
	/* font-family: roboto; */
	font-size: 20px;
	font-style: normal;
	font-weight: bold;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: center;
	color: rgb(255, 255, 255);
}

.informacion {
	position: absolute;
	width: 880px;
	height: 320px;
	left: 280px;
	top: 369px;
	background-color: white;
	border-radius: 5px;
}

.menuEditar {
	position: absolute;
	width: 780px;
	height: 320px;
	left: 0px;
	top: 0px;
}

.textoInformacion {
	position: absolute;
	width: 164px;
	height: 164px;
	left: 1em;
	top: 1em;

	/* font-family: roboto; */
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 23px;
	letter-spacing: 0em;
	text-align: left;

	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #181818;
}

.informacionGral {
	position: absolute;
	width: 194px;
	height: 164px;
	left: 1em;
	top: 80px;

	/* font-family: roboto; */
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;

	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */
	color: #d97930;
}

.intereses {
	position: absolute;
	width: 164px;
	height: 164px;
	left: 1em;
	top: 115px;

	/* font-family: roboto; */
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;

	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */
	color: #686767;
}

.grupos {
	position: absolute;
	width: 164px;
	height: 164px;
	left: 1em;
	top: 148px;

	/* font-family: roboto; */
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 21px;
	letter-spacing: 0em;
	text-align: left;

	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	/* identical to box height */

	color: #686767;
}

.linea {
	position: absolute;
	width: 0.2px;
	height: 319px;
	left: 20em;
	top: -8px;
	background-color: #928e8e;
}

.datosMostrados {
	position: absolute;
	width: 350px;
	height: 210px;
	left: 25em;
	top: 20px;
}

.icon {
	position: absolute;
	width: 20px;
	height: 20px;
	left: -5px;
	top: 20px;
	/* background: url(../images/mail.svg); */
	/* background-repeat: no-repeat; */
}

.mail {
	/* font-family: roboto; */
	position: absolute;
	font-size: 16px;
	font-style: normal;
	/* font-weight: 700; */
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;

	
	width: 290px;
	height: 20px;
	left: 20px;
	top: 20px;
	margin:0px;
}

/* .icon2 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 1em;
	top: 63.75px;
	background: url(../images/phone.svg);
	background-repeat: no-repeat;
} */

.telefono {
	/* font-family: roboto; */
	font-size: 16px;
	font-style: normal;
	/* font-weight: 700; */
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;
	position: absolute;
	width: 290px;
	height: 209px;
	left: 3em;
	top: 45px;
}

/* .icon3 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 1em;
	top: 107.5px;
	background: url(../images/portafolio.svg);
	background-repeat: no-repeat;
} */

.profesion {
	/* font-family: roboto; */
	font-size: 16px;
	font-style: normal;
	/* font-weight: 700; */
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;

	position: absolute;
	width: 290px;
	height: 209px;
	left: 3em;
	top: 91.5px;
}

/* .icon4 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 1em;
	top: 151.25px;
	background: url(../images/graduado.svg);
	background-repeat: no-repeat;
} */

.universidad {
	/* font-family: roboto; */
	font-size: 16px;
	font-style: normal;
	/* font-weight: 700; */
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;

	position: absolute;
	width: 290px;
	height: 209px;
	left: 3em;
	top: 135.25px;
}

/* .icon5 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 1em;
	top: 195px;
	background: url(../images/document.svg);
	background-repeat: no-repeat;
} */

.ocupacion {
	/* font-family: roboto; */
	font-size: 16px;
	font-style: normal;
	/* font-weight: 700; */
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;

	position: absolute;
	width: 290px;
	height: 209px;
	left: 3em;
	top: 179px;
}

/* .icon6 {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 1em;
	top: 238.75px;
	background: url(../images/location.svg);
	background-repeat: no-repeat;
} */

.localidad {
	/* font-family: roboto; */
	font-size: 16px;
	font-style: normal;
	/* font-weight: 700; */
	line-height: 19px;
	letter-spacing: 0em;
	text-align: left;

	position: absolute;
	width: 290px;
	height: 209px;
	left: 3em;
	top: 222.75px;
}


.formularioEditar{
	position: absolute;
	width: 452px;
	height: 790px;
	top: 0px;
	left: 494px;	
	background-color: white;
	z-index: 1;
	border-radius: 10px;
}

.editarInfoGeneral{
	position: absolute;
	width: 300px;
	height: 240px;
	left: 75px;
	top: 42px;

}


.informacionPersonal{
	height: 25px;
	width: 300px;
	left: 2%;
	top: -15px;
	position: absolute;
	/* font-family:Roboto; */
	font-style: normal;
	font-weight: 600;
	font-size: 23px;
	line-height: 19px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #252525;
	/* font-weight:bold; */
}


.textoEditNombre{
	position: absolute;
	height: 18px;
	width: 52px;
	left: 0px;	
	top: 28px;	
	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #a0a0a0;
}

.EditarNombre{
	height: 30px;
	width: 290px;
	left: 0px;
	top: 60px;
	border-radius: 15px;
	position: absolute;	
	border-radius: 5px;
	background: #e3e1e0;
	border-style: none;
}

.textoEditado{
	position: absolute;
	height: 20px;
	width: 290px;
	left: 1em;	
	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #2b2a2a;
}
.textoNombreEditado{
	top: 52px;
}

.textoApellidoEditado{
	top: 106px;
}
.textoProfesionEditado{
	top: 162px;
}
.textoCorreoEditado{
	top: 217px;
}


.textoEditApellido{
	position: absolute;
	height: 18px;
	width: 52px;
	left: 0px;	
	top: 83px;	
	/* font-family: IBM Plex Sans; */
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #a0a0a0;
}



.EditarApellido{
	height: 30px;
	width: 290px;
	left: 0px;
	top: 115px;
	border-radius: 15px;
	position: absolute;	
	border-radius: 5px;
	background: #e3e1e0;
	border-style: none;
}

.textoEditProfesion{
	position: absolute;
	height: 18px;
	width: 52px;
	left: 0px;	
	top: 138px;	
	/* font-family: IBM Plex Sans; */
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #a0a0a0;
}


.EditarProfesion{
	height: 30px;
	width: 290px;
	left: 0px;
	top: 170px;
	border-radius: 15px;
	position: absolute;	
	border-radius: 5px;
	background: #e3e1e0;
	border-style: none;
}

.textoEditCorreo{
	position: absolute;
	height: 18px;
	width: 150px;
	left: 0px;	
	top: 193px;	
	/* font-family: IBM Plex Sans; */
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	align-items: center;
	text-align: right;
	color: #a0a0a0;
}

.EditarCorreo{
	height: 30px;
	width: 290px;
	left: 0px;
	top: 225px;
	border-radius: 15px;
	position: absolute;	
	border-radius: 5px;
	background: #e3e1e0;
	border-style: none;
}
.contenedorIntereses{
	position: absolute;
	width: 300px;
	height: 100px;
	left: 0px;
	top: 10px;
}


.editarIntereses{
	position: absolute;
	width: 300px;
	height: 130px;
	left: 75px;
	top: 340px;
	

}

.editIntereses{
	height: 23px;
	width: 300px;
	left: 0%;
	top: 0px;
	position: absolute;
font-family:Roboto; 
	font-style: normal;
	font-weight: 500;
	font-size: 23px;	
	text-align: center;
	color: #000000;
	font-weight:bold;
	margin: 0%;
}

.contenedorGrupos{
	position: absolute;
	width: 300px;
	height: 130px;
	left: 0px;
	top: 10px;
}
.imagenEdit{
	position: absolute;
	height: 25px;
	width: 25px;
	left:0px;
	
}

.organizacionEdit{
	position: absolute;
	height: 15px;
	width: 250px;
	left:30px;	
	font-family: Roboto; 
	font-weight: 500;
	font-size: 14px;
	line-height: 18px;
	display: flex;
	text-align: right;
}
.img1{
	top: 30px;
}

.org1{
	top: 22px;
}

.img2{
	top: 60px;
}

.org2{
	top: 52px;
}

.img3{
	top: 90px;
}

.org3{
	top: 82px;
}


.editarGrupos{
	position: absolute;
	width: 300px;
	height: 122px;
	left: 75px;
	top: 520px;
}

.iconSalirEdit {
	position: absolute;
	width: 15px;
	height:15px;	
	right: 0px;	
	background: url(../images/salir.svg);
	background-size: contain;
}
.iconEdit1{
	top: 36px;
}
.iconEdit2{
	top: 66px;
}
.iconEdit3{
	top: 96px;
}


.botones{
	position: absolute;
	width: 300px;
	height: 50px;
	left: 75px;
	bottom: 42px;
	z-index: -1;

}

.btnVolver{
	position: absolute;
	width: 140px;
	height: 30px;
	left: 0px;
	top: 7px;
	background-color: rgba(143, 143, 142, 1);
	border-radius: 25px;
}

.btnVolver:hover{
	background-color: rgba(143, 143, 142, 1);
	opacity: 0.7;
	color: white;
	transition: background-color .5s ease-in;
	transition: color .5s ease-in;
}

.btnEditar{
	position: absolute;
	width: 140px;
	height: 30px;
	right: 0px;
	top: 7px;	
	background-color: rgba(74, 74, 250, 1);	
	border-radius: 25px;
	
}
.btnEditar:hover{
	background-color:  rgba(74, 74, 250, 1);
	opacity: 0.7;
	color: white;
	transition: background-color .5s ease-in;
	transition: color .5s ease-in;
}

.botonCentrado{
	position: absolute;	
	color: white;
	top: 3px;
	left: 28%;
	text-align: center;
	/* font-family: Roboto; */
	font-weight: 600;
	
	
}


.botonCentrado2{
	position: absolute;	
	color: white;
	top: 3px;
	left: 25%;
	text-align: center;
	/* font-family: Roboto; */
	font-weight: 600;
}


/* .loading {
	position: absolute;
	height: 77px;
	width: 77px;
	left: 170px;
	top: 300px;	
	background: url(../images/loading2.png);
	animation: loading 1.5s steps(12) forwards;
  }

  @keyframes loading {
	35% {
		top: 300px;
	}
  
	50% {
		top: 300px;
	}
  
	100% {
		top: 300px;
	  background-position: -875px;
	}
  } */
  .contenedorInformacion{
	  position: absolute;
	  width: 300px;
	  height: 22px;
	  left: 1em;
  }
  .info1{
	 top:0px; 
  }
  .info2{
	  top:40px;
  }
.info3{
	top:80px;
}
.info4{
	top:120px;
}
.info5{
	top:160px;
}
.info6{
	top:200px;
}
div {
    cursor:pointer;
}
 /* .contenedorLoader{
	 position: absolute;
	width: 100px;
	height: 100px;
	left: 100px;
	top: 500px;
	background-color: #928e8e;	
}  */
.loader2 {
	position: absolute;
	border: 16px solid #b9b3a9;
	border-radius: 50%;
	border-top: 16px solid #db9334;
	width: 50px;
	height: 50px;
	left: 40%;
	top: 35%;	
	z-index: 1;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }
  