.contenedorCrearCuenta {
	/* Crear cuenta */
	position: relative;
	width: 1440px;
	height: 1024px;
	background: #f5f2ed;
	font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	
}

.fondoFormregistro {
	
	position: absolute;
	width: 400px;
	height: 750px;
	left: 520px;
	top: 80px;
	background: #ffffff;
	border-radius: 15px;
}

.formRegistro {
	/*Propiedades*/
	border-radius: 0px;

	/* formRegistro */
	position: absolute;
	width: 483px;
	height: 679px;
	left: 478px;
	top: 80px;
	
}

.fondoFormRegistro {
	height: 770px;
	width: 483px;	
	position: absolute;
	left: 0%;
	right: 0%;
	top: 0%;
	bottom: 0%;
	background: #ffffff;
	border-radius: 15px;
	/* z-index:2; */
}

.botonVolver {
	/*Propiedades*/
	height: 40px;
	width: 306px;
	left: 89px;
	top: 676px;	
	/* botonVolver */
	position: absolute;
	background: #8f8f8e;
	border-radius: 15px;
}

.botonVolver:hover{
	background-color: #8F8F8E;
	opacity: 0.7;
	color: white;
	transition: background-color .5s ease-in;
	transition: color .5s ease-in;
}

.textoBotonVolver {

	/* textoBotonVolver */
	position: absolute;
	left: 40.33%;
	right: 40.67%;
	top: 0%;
	bottom: 27.5%;
}

.textoVolver {
	
	/* textoVolver */
	position: absolute;
	left: 1.75%;
	right: 1.75%;
	top: 9%;
	bottom: 0%;
	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	/* identical to box height */
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}



.botonRegistrarCuenta {
	height: 40px;
	width: 306px;
	left: 90px;
	top: 610px;
	border-radius: 15px;	
	position: absolute;
	background: #4a4afa;
	
}

.botonRegistrarCuenta:hover{
	background-color: #4a4afa;
	opacity: 0.7;
	color: white;
	transition: background-color .5s ease-in;
	transition: color .5s ease-in;
}

.textoBotonRegistrar {
	height: 18px;
	width: 157px;	
	
	position: absolute;
	left: 17%;
	right: 23.67%;
	top: 10%;
	bottom: 27.5%;
}

.textoRegistrarCuenta {
	height: 5px;
	width: 180px;
	letter-spacing: 0em;
	
	/* textoRegistrarCuenta */
	position: absolute;
	left: 5.1%;
	right: 5.73%;
	top: -3%;
	bottom: 0%;
	/* font-family: Roboto; */
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 4px;
	/* identical to box height */
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
}


.texto{
	position: absolute;
	height: 15px;
	width: 120px;
	left: 28px;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 18px;	
	text-align: right;
	color: #a0a0a0;
}

.contenedor{
	position: absolute;
	height: 40px;
	width: 300px;
	border-radius: 15px;
	opacity: 0.64;
	left: 91px;
}

.input{
	height: 40px;
	width: 300px;
	border-radius: 5px;
	left: 0px;
	background: #e3e1e0;
	border-radius: 5px;
	border-color: #ffffff;
	border-style: none;
}

.tNombre{
	top: 145px;
}

.cNombre{
	top: 180px;
}



.tApellido{
	top: 233px;
}

.cApellido{
	top: 268px;
}



.tCorreo{
	top: 321px;
	left: 90px;
}

.cCorreo{
	top: 356px;
}


.tContrasenia{
	top: 409px;
	left: 45px;
}

.cContrasenia{
	top: 444px;
}



.tRepetirContrasenia{
	top: 497px;
	left: 91px;
}

.cRepetirContrasenia{
	top: 532px;
}

.iRepetirContrasenia{
	top: 0px;
}


.tituloFormRegistro {
	/*Propiedades*/
	height: 33px;
	width: 237px;
	left: 125px;
	top: 80px;
	letter-spacing: 0px;
	position: absolute;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 32px;
	/* identical to box height */
	display: flex;
	align-items: center;
	text-align: right;
	color: #000000;
}


.logo {
	height: 33px;
	width: 30px;
	left: 227px;
	top: 40px;
	/*Propiedades*/
	height: 33px;
	width: 30px;

	/*3*/
	position: absolute;
	
}


@media screen and (max-width: 360px) {
	.contenedorCrearCuenta{
		width: 100%;
		height: 100%;			
		flex-direction: column;
		left: 0%;
		background-color: #ffffff;
		margin-bottom: auto;
	}

	.logo {
		height: 33px;
		width: 30px;
		align-items: center;
		top: 0%;	
		position: absolute;
		
	}

	.formRegistro {				
		margin-left: auto;
		margin-right: auto;
		margin-bottom: auto;
		max-height: 100%;
		height: 100%;	
		border-radius: 0%;
		top: 0%;
		position: absolute;
		width: 100%;
		left: -70px;		
	}
	.fondoFormRegistro {
		height: 100%;
		width: 100%;	
		position: absolute;	
		background: #ffffff;
		
	}
}
  /*Mensajes error*/
  .mensajeInputOculto {
    display: none;
}

.mensajeInput {
	position:absolute;
	top:45px;
    margin: 5px 5px 0px 5px;
    display: flex;
    color: #EC3C3C;
    font-size: 10px;
}

input.error {
	border: #EC3C3C solid 4px;
}
