.reiniciar{
  opacity:1;
  position: absolute;
  width: 160px;
  height: 40px;
  right:10%;
  text-align: center ;
  color:black;
  font-size: 30px;
  background-color:white;
  transition: background-color .5s ease-out;
  transition: color .5s ease-out;
 
}
.reiniciar:hover{
  background-color:rgb(5, 5, 116);
  color:white;
  transition: background-color .5s ease-in;
  transition: color .5s ease-in;
  
}
.ocult{
  opacity:0;
}
.desocultar{
  opacity:1;
}

.puntaje{
  color: white;
  position: absolute;
  font-size: 30px;
  height: 70px;
  width: 200px;
  align-content: left;
}
.colorRojo{
  color: rgb(248, 12, 12);
}

.relojRojo{
  color: rgb(248, 12, 12);
  position: absolute;
  font-size: 30px;
  height: 70px;
  width: 200px;
  left:50%;
  align-content: center;
}


.reloj{
  color: white;
  position: absolute;
  font-size: 30px;
  height: 70px;
  width: 50%;
  left:50%;
  align-content: center;
}
.oculto{
  visibility: hidden;
}

.desOculto{
  visibility: visible;
}
.cartel{
  left:20%;
  height: 70px;
  width: 300px;
  position: absolute;
 
  animation: apareceCartel 6s ease .2 forwards;
}

@keyframes apareceCartel{
  0%{ opacity: 0;
    font-size: 30px;
    transform : translateX(10%)}
  50%{ opacity: 1;
    font-size: 40px;
    transform : translateX(30%)}
  60%{ opacity: 1;
    font-size: 50px;
    transform : translateX(60%)}
  70%{ opacity: 1;
    font-size: 40px;
    transform : translateX(90%)}
  100%{ opacity: 0;
    font-size: 30px;}
}


#sonic{  
/*  border: 2px rgb(14, 13, 13) solid;  */  
  width:119.75px;
  height: 139px; 
  position:absolute; 
  bottom: 35%;
  left: 200px;
  overflow: visible;
}

.stopAnimaciones{
  animation-play-state: paused;
}
 
.caminando{
  background: url(../images/sonic_camina.png) left center;
  animation:sonicCamina 0.8s steps(10) infinite;  
}

.saltando{
  background: url(../images/bolita.png) left center no-repeat;
  animation:sonicSalta 2s steps(8) forwards;  
}



.morir {
 
  width: 90px !important;
  background: url(../images/muere.png)  no-repeat; 
  animation: sonicMuere 2s steps(12)forwards;
}

@keyframes sonicMuere {
  from {
    background-position: 0;
  }

  to {
    background-position: -1152px;
  }
}


@keyframes sonicSalta{
  35%{bottom: 50%}
  50%{  bottom: 50%}  
  100%{  bottom: 35%; background-position: -960px;}
}

@keyframes sonicCamina {
  0% {background-position: 0;}
  100% {background-position: -1197.5px;}
  
}

#cielo {
  position: absolute;
  top: 0;
  z-index: -50;
  height: 50%;
  width: 100%;
  background:url(../images/cielo.png) repeat-X;
  animation: movimientoCielo 30s linear infinite;
}

@keyframes movimientoCielo{
  100%{
      background-position-x: -2550px;
  }
}

#obstaculo{  
/*  border: 2px rgb(14, 13, 13) solid;   */
  width:38px;
  height: 155px; 
  position:absolute; 
  bottom: 35%;    
  background-image:url(../images/pincho.png) ; 
  animation: obstaculo 7s steps(15)  infinite;
  overflow: visible;
}

#obstaculo2{  
 /*  border: 2px rgb(14, 13, 13) solid;    */
   width:129px;
   height: 87px; 
   position:absolute; 
   bottom: 60%;    
   background-image:url(../images/enem2.png) ; 
   animation: obstaculo2 5s steps(15)  infinite;
   overflow: visible;
 }


  


#anillo{  
  /* border: 2px rgb(14, 13, 13) solid;    */
   width:110px;
   height: 100px; 
   right:0%;
   position:absolute; 
   bottom: 55%;    
   background-image:url(../images/anillos.png) ;    
   animation: anillo 3s steps(8)  infinite;
   overflow: visible;
  
 }





 @keyframes anillo {
 
  0%{right: 0% }
  20%{right: 20% }
  40%{right: 40% }
  50%{right: 50% }
  60%{right: 60% }
  70%{right: 70% }
  80%{right: 80% }
  90%{right: 90% }
  100%{right: 100%;background-position: -960px; }

}

@keyframes obstaculo2 {
  0%{right: 0% ;top:0%}
  20%{right: 20%;top:20% }
  40%{right: 40%;top:40%  }
  50%{right: 50%;top:50%  }
  60%{right: 60%;top:60%  }
  70%{right: 70%;top:40%  }
  80%{right: 80%;top:30%  }
  90%{right: 90%;top:20%  }
  100%{right: 100%;top:0%  }
 }

@keyframes obstaculo {
 0%{right: 0% }
 20%{right: 20% }
 40%{right: 40% }
 50%{right: 50% }
 60%{right: 60% }
 70%{right: 70% }
 80%{right: 80% }
 90%{right: 90% }
 100%{right: 100% }
}


#islas_y_mar {
  position: absolute;
  top: 0px;
  z-index: -40;
  height: 100%;
  width: 100%;
  background:url(../images/islas.png) repeat-X;
  animation: movimientoIslas 25s linear infinite;


}

@keyframes movimientoIslas{
  100%{
      background-position-x: -2550px;
  }
}

#piso{
  position: absolute;
  top:-10px;
  z-index: -20;
  height: 100%;
  width: 100%;
  background:url(../images/suelo.png) repeat-X;
  animation: movimientoPiso 15s linear infinite;
}
@keyframes movimientoPiso{
  100%{
      background-position-x: -2540px;
  }
}

#container{
    height: 100%;
    width: 100%;
    background-color: aqua;
    position: relative;
    z-index: 0;
    overflow: hidden;
    pointer-events: all;
}