
  
  
  @keyframes walk {
    0% {background-position: 0;}
    100% {background-position: -936px;}
    
}

#personaje{
  
    width:156px;
    height: 156px;
    margin:0%;
    margin-top: 20%;
    background: url(../images/pers.png) left center;
    animation:walk 2s steps(6) infinite;  /* funcion de timing -> steps (6), porque son 6 frames
    /* position:relative;
    bottom: 34px; */
}
