html{
  
  margin-bottom: 0.5%;
  margin-top: 0.5%;
  margin-left: 4%;
  margin-right: 4%;
}

body {
  background-image: url("../images/fondo3.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
    /* La imagen de fondo se reescala automáticamente con el cambio del ancho de ventana del navegador */
    background-size: cover;
    /* Se muestra un color de fondo mientras se está cargando la imagen de fondo o si hay problemas para cargarla */
   
    background-color: #f1f087;
   /*  overflow-x:hidden; 
     overflow-y:hidden;*/
  }

header{
  margin-bottom: 1%;
  
}
  h1 {
   font-style:inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    text-decoration:underline;
    color: rgb(38, 38, 139); 
   
  }

  h3 {   
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center; 
    color: rgb(40, 40, 141);  
  }

  .colorAzul{
    background-color:rgb(1, 1, 75);
  }
  .centrado{
   text-align: center;
  }
  .izquierda{
    text-align: left;
  }
  .derecha{
    text-align: right;
  }
  .margensup {
    margin-top: 1%;
  }
  .margeninf{
    margin-bottom: 1%;
  }
.margender {
  margin-right: 2%;
}
.margenizq {
  margin-left: 1%;
}
  footer{
    
    margin-top: 1%;
   
  }
  .blanco{
    color: white;
  }
  .colorAzulclaro{
    background-color:rgb(70, 70, 155);
  }
  .titulosAwasome{
    border-style: solid; 
    border-color: black"
  }
  canvas{
    
    border-width: 1px;
    border-style: solid;
    border-color: black;
    
  }
  .fondoTrans{
    background-color: rgb(213, 213, 228,0.4);
    
  }
  img{
    height: 100%;
    width: 100% 
  }
  .fontTimes{
    font-family: 'Gill Sans', 'Time New Roman', Calibri, 'Trebuchet MS', sans-serif;
  }