body {
    background-color: #f1f087;
  }


  h1 {
   font-style:inherit;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    text-decoration:underline;
    color: rgb(38, 38, 139); 
   
  }

  h3 {   
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center; 
    color: rgb(40, 40, 141);  
  }

